<!DOCTYPE html>
<html  lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>


    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
    <title>Lista de Clientes</title>
</head>

<body>
<header>
    <nav  class="navbar navbar-expand-lg navbar-dark " style="background-color: #565656;">
        <a  style="color: white;" class="navbar-brand"  th:href="@{/empresa/listar}">Início </a>

        <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a style="color: white;" class="nav-link" th:href="@{/empresa/listar}">
                        Lista de Clientes<span class="sr-only">(empresa/listaEmpresa.html)</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a style="color: white;" class="nav-link" th:href="@{/empresa/cadastrar}">
                        Adicionar Clientes<span class="sr-only">(empresa/listaEmpresa.html)</span>
                    </a>
                </li>
            </ul>

            <form th:action="@{/logout}" method="post" class="form-inline my-2 my-lg-0">

                <button class="btn btn-xl btn-info my-2 my-sm-0" type="submit">Sair</button>
            </form>
        </div>
    </nav>
</header>
<main>

    <div>
        <a class="btn btn-primary" style="margin-top: 10px;"  th:href="@{/empresa/listar}">Lista de Clientes</a>
    </div>

    <hr/>


        <div th:if="${mensagem != null}">
            <div class="alert alert-info" role="alert">
                <span th:text="${mensagem == null ?' ' : mensagem}">mensagem</span>
            </div>
        </div>


    <div>
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            Visitas de Clientes para Hoje!!!
        </div>
    </div>

    <hr/>
    <a class="btn btn-light" th:href=" @{/empresa/listar}">Voltar</a>
</main>

<hr/>
<footer class="footer">
    <p>© 2019 ScriptMasterWeb.com</p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>
